<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
	PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper>
	<resultMap id="dictionaryMapper" type="Dictionary">
		<id property="id" column="id" javaType="java.lang.Long" />
		<result property="name" column="name" javaType="java.lang.String" />
		<result property="value" column="value" javaType="java.lang.String" />
	</resultMap>
</mapper>